@import "verables";
@import "mixin";
@import "fonts";
@import "normalize";
@import "general";
@import "block/blocks";

// Yashnarbek
.work {
    margin-top: -120px;
    position: relative;
    padding-bottom: 120px;
    background-color: #1B262F;
}

.work__list {
    @include list-unstyle;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.work__item {
    list-style-type: none;
    margin-bottom: 30px;
}
.work__link {
    display: flex;
    justify-content: center;
}
.work__img {
    display: inline-block;
    width: 90px;
    height: 17px;
}
.work__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work__heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #FBFCFE;    
}
.work__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.work__about {
    padding: 16px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    background-color: transparent;
    color: #FBFCFE;
    border: 1px solid #fff;
    border-radius: 24px;
}

@include mobile-first (650px) {
    .work__list {
        grid-template-columns: 129px 129px 129px;
    }
}
@include mobile-first (992px) {
    .work {
        padding-top: 110px;
    }
    .work__wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .work__list {
        align-items: center;
        flex-wrap: wrap;
        width: 500px;
    }
    .work__item {
        margin-right: 20px;
        margin-bottom: 60px;
        height: 0px;
    }
    .work__img {
        width: 100px;
    }
    .work__box {
        width: 450px;
        align-items: flex-start;
    }
    .work__heading {
        text-align: start;
    }
    .work__title {
        text-align: start;
    }
}

// implement section bigen
.implement {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: #F2F2F2;
}
.implement__list {
    @include list-unstyle;
}
.implement__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.imp-item__heading {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536B;    
}
.imp-item__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #6C8294;    
} 
.implement__services {
    padding-top: 50px;
    @include list-unstyle;
}
.imp-services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    list-style: none;
}
.imp-services__item:nth-child(1)::before {
    margin-bottom: 25px;
    @include after-befor(106px, 106px);
    background-image: url("/images/person.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imp-services__item:nth-child(2)::before {
    margin-bottom: 25px;
    @include after-befor(106px, 106px);
    background-image: url("/images/banking.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imp-services__item:nth-child(3)::before {
    margin-bottom: 25px;
    @include after-befor(106px, 106px);
    background-image: url("/images/coms.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imp-services__heading {
    @include heading-text-unstyle;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536B;    
}
.imp-services__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;    
}
.implement__start-heading {
    @include heading-text-unstyle;
    text-align: center;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;        
}
@include mobile-first (650px) {
    .implement__services {
        display: flex;
    }
    .implement__start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@include mobile-first (992px) {
    .implement {
        background-image: url("../images/circle.svg");
        background-repeat: no-repeat;
        background-size: 650px;
        background-position: calc(50% + 530px) 350px;
    }
    .implement__item {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    .implement__item:nth-child(2n) {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .imp-item__box {
        width: 445px;
    }
    .imp-item__heading {
        @include heading-text-unstyle;
        text-align: start;
    }
    .imp-item__title {
        text-align: start;
    }
    .imp-services__item {
        width: 350px;
    }
    .implement__start {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .form-box--emplement {
        align-items: center;
        width: 470px;
        margin: 0 0 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    .form-box__submit--emplement {
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}
// implement section end 


// Nurislomxon






// Nurmuhammad

